Content/Megascans/Surfaces/Cobblestone_2x2_M_03/thjkcajfw_8K_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/Surfaces/Cobblestone_2x2_M_03/thjkcajfw_8K_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Megascans/Surfaces/Square_Cobblestone_00/tbjjai0s_8K_Normal.uasset filter=lfs diff=lfs merge=lfs -text